* {
    font-family: Roboto;
    color: white;
    background-color: #01161E;
}



.hero {
    background-color: #124559;
}

a {
    color: white;
}

#divider {
    border-top: 3px solid #124559;
}

#divider-small {
    border-top: 2px solid #124559
}

/* #divider {
    border: 2px solid red;
} */